body {
    text-align: center;
}
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#app{
    width: 100%;
    background-color: aquamarine;
}
#mycarousel{
    background-color:rgb(226, 85, 85);
}
p{
    font-weight: bold;
    font-size: 20px;
}